.table-row-cell {
  -fx-font-size: 11px;
}

.table-row-on-drag {
  -fx-font-weight: bold;
  -fx-background-color: darkseagreen;
}

.table-row-on-drag .table-row-cell {
  -fx-text-fill : greenyellow;
}

.list-cell:empty {
  -fx-opacity: 0;
}

#faviconAddFile {
  -fx-effect : dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0)
}

#iconTitle {
  -fx-effect : dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0)
}

.auto-completer {
  -fx-focus-color: #ff5c33;
}