.root{
  -fx-font-size: 9pt;
  -fx-font-family: "SansSerif";
}


.table-row-cell {
  -fx-font-size: 11;
}

.list-cell:empty {
  -fx-opacity: 0;
}

/* There is no css definition on tableColumn */
/*
#tableMain .tabl-column-cell {
  -fx-alignment: CENTER-RIGHT;
}
#columnExecCount .table-cell {
  -fx-alignment: CENTER-RIGHT;
}
*/

#faviconAddFile {
  -fx-effect : dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0)
}

#iconTitle {
  -fx-effect : dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0)
}

#chkRegexSearch {
  -fx-text-fill: #808B96;
}