<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %green([%12(%.-12(%t))]) %yellow(%50(\(%F:%L\))) %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate.SQL" level="trace"/>
  <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"/>
  <logger name="com.github.nayasis.simplelauncher" level="debug"/>

  <root level="info">
    <appender-ref ref="console" />
  </root>

</configuration>