.btn-window-close {
  -fx-border-color        : transparent;
  -fx-background-color    : transparent;
  -fx-background-image    : url("images/close.png");
  -fx-background-repeat   : no-repeat;
  -fx-background-size     : contain;
  -fx-background-position : center;
}

.btn-window-close:hover, .btn-window-close:focused {
  -fx-background-image  : url("images/close-hover.png");
}

.btn-window-hide {
  -fx-border-color        : transparent;
  -fx-background-color    : transparent;
  -fx-background-image    : url("images/hide.png");
  -fx-background-repeat   : no-repeat;
  -fx-background-size     : contain;
  -fx-background-position : center;
}

.btn-window-hide:hover, .btn-window-hide:focused {
  -fx-background-image  : url("images/hide-hover.png");
}

.btn-window-zoom {
  -fx-border-color        : transparent;
  -fx-background-color    : transparent;
  -fx-background-image    : url("images/zoom.png");
  -fx-background-repeat   : no-repeat;
  -fx-background-size     : contain;
  -fx-background-position : center;
}

.btn-window-zoom:hover, .btn-window-zoom:focused {
  -fx-background-image  : url("images/zoom-hover.png");
}