#splash {
  -fx-background-image    : url("../image/splash.jpg");
  -fx-background-repeat   : stretch;
  -fx-background-size     : stretch;
  -fx-background-position : center center;
  -fx-effect              : dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#splash .progress-bar > .bar {
  -fx-background-insets : 1 1 1 1;
  -fx-padding           : 0.50em;
}

#splash .label {
  -fx-font-size   : 9pt;
  -fx-text-fill   : white;
  -fx-font-weight : bolder;
  -fx-opacity     : 1;
  -fx-padding     : 7 5 10 10;
}